node_modules
bower_components
npm-debug.log
.idea
.fuse_*
artifacts/channel/mychannel.block
fabric-rest-api.iml
fabric-rest-api.ipr
fabric-rest-api.iws
.gradle
build

/artifacts/crypto-config/
/artifacts/channel/
/artifacts/cryptogen-*.yaml
/artifacts/fabric-ca-server-config-*.yaml
/artifacts/configtx.yaml
/artifacts/*.block*
/artifacts/network-config.json
/artifacts/network-config-dev.json
/artifacts-dev
/ledger/docker-compose.yaml
/ledger/docker-compose-*.yaml
/www/artifacts/*.block
/www/artifacts/network-config.json
/www/artifacts/crypto-config
/dockercompose
