<div class="modal modal-large modal-fixed-footer">
    <form name="form" class="form-horizontal" novalidate>
      <div class="modal-content">

        <h4 role-show="nsd" translate>BOOK_HISTORY_LABEL</h4>
        <h4 role-hide="nsd" translate>POSITION_HISTORY_LABEL</h4>
        <table class="table-bordered highlight responsive-table">
            <thead>
                <tr>
                    <th translate>CREATED_LABEL</th>
                    <th role-show="nsd" translate>ORGANISATION_LABEL</th>
                    <th translate ng-if="$options.type=='paper'">book.ACCOUNT_LABEL</th>
                    <th translate ng-if="$options.type=='money'">book.ACCOUNT_MONEY_LABEL</th>

                    <th translate ng-if="$options.type=='paper'">SECURITY_LABEL</th>
                    <th translate ng-if="$options.type=='money'">MONEY_LABEL</th>
                    <th translate>QUANTITY_LABEL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in $options.history|orderBy:['-_created']">
                    <td class="grey-text nowrap">{{::o._created|date:'M/d/yy H:mm:ss'}}</td>
                    <td role-show="nsd" class="nowrap">{{::o.org}}</td>
                    <td ng-if="$options.type=='paper'">{{::o.deponent}} / {{::o.balance.account}} / {{::o.balance.division}}</td>
                    <td ng-if="$options.type=='money'">{{::o.balance.account}}</td>
                    <td>{{::o.security}}</td>
                    <td>{{::o.quantity}}</td>
                </tr>

                <tr ng-hide="$options.history.length">
                    <td colspan="99" align="center">
                        <i translate>NO_ITEMS_LABEL</i>
                    </td>
                </tr>
            </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" ng-click="$close()" translate>CLOSE_LABEL</a>
      </div>
    </form>
</div>