
<div class="row">
  <div class="col s12">
    <ul tabs class="tabs">
      <li class="tab col s3"><a href="#tab-balances">Balances</a></li>
      <li class="tab col s3"><a href="#tab-history">History</a></li>
    </ul>
  </div>
  <!-- tab -->
  <div id="tab-balances" class="col s12">
      <table class="table-bordered highlight responsive-table">
        <thead>
            <tr>
                <th>Issuer</th>
                <th>Book type</th>
                <th>Asset</th>
                <th>Balance</th>
                <th>Pending operations</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in ctl.requests">
                <td>{{::o.from}}</td>
                <td>{{::o.to}}</td>
                <td>{{::o.amount}}</td>
                <td>{{::o.purpose}}</td>
                <td>{{::o.description}}</td>
                <td>
                    <input type="button" class="btn btn-default" ng-click="ctl.verify(o)" value="Verify" ng-hide="o.status"/>
                    <input type="button" class="btn btn-danger" ng-click="ctl.decline(o)" value="Decline" ng-show="o.status"/>
                </td>
            </tr>

            <tr ng-hide="ctl.requests.length">
                <td colspan="99" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
      </table>
  </div>
  <!-- tab -->
  <div id="tab-history" class="col s12">
    <i>data will be here</i>
  </div>
</div>

