

<div class="progress" ng-show="ctl.invokeInProgress">
    <div class="indeterminate"></div>
</div>


<div>
  <div class="row">
    <div class="col s12">
      <div>
        <!-- Modal Trigger -->
        <button class="btn btn-primary" type="button" ng-click="ctl.newInstructionTransfer('transferer')" href="#transferInstruction" modal role-show="issuer, investor">
          Transfer Instruction
        </button>

        <button class="btn btn-primary" type="button" ng-click="ctl.newInstructionTransfer('receiver')" href="#transferInstruction" modal role-show="issuer, investor">
          Receive Instruction
        </button>

        <button class="btn btn-primary" type="button" ng-click="ctl.newRedemption()" href="#redemption" modal role-show="nsd">
          Create Redemption Instruction
        </button>
      </div>
    </div>
  </div>



  <div id="tab-balances" class="col s12">
      <table class="table-bordered highlight responsive-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Transferer</th>
                <th>Receiver</th>
                <th>Security</th>
                <th>Quantity</th>
                <th>Reference</th>
                <th>Instruction Date</th>
                <th>Trade Date</th>
                <th>Status</th>
                <th>Initiator</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody ng-repeat="o in ctl.list|orderBy:['-instructionDate', '-reference']" ng-click="ctl.showHistory(o)">
            <tr class="odd-{{::$index % 2}}">
                <th ng-if="::o.initiator=='transferer'">16</th>
                <th ng-if="::o.initiator=='receiver'">16/1</th>
                <td class="nowrap">{{::o.deponentFrom}} / {{::o.transferer.account}} / {{::o.transferer.division}}</td>
                <td class="nowrap">{{::o.deponentTo}}   / {{::o.receiver.account}}   / {{::o.receiver.division}}</td>
                <td>{{::o.security}}</td>
                <td>{{::o.quantity}}</td>
                <td>{{::o.reference}}</td>
                <td>{{::o.instructionDate|date}}</td>
                <td>{{::o.tradeDate|date}}</td>
                <td class="center">
                  <div class="{{::ctl.getStatusClass(o.status)}}">{{::o.status}}</div>
                  <input type="button" class="btn btn-small waves-effect waves-light red darken-2" value="Cancel"
                      ng-show="::o.status=='initiated'" role-hide="nsd" ng-click="$event.stopPropagation(); ctl.cancelInstruction(o);"/>
                </td>
                <td>{{::o.initiator}}</td>
                <td ng-if="::o.initiator=='transferer'">{{::o.reasonFrom.description}} {{::o.reasonFrom.document}}/{{::o.reasonFrom.created}}</td>
                <td ng-if="::o.initiator=='receiver'">{{::o.reasonTo.description}} {{::o.reasonTo.document}}/{{::o.reasonTo.created}}</td>
            </tr>

            <tr ng-if="::o.status!='initiated' && o.status!='canceled'" class="odd-{{::$index % 2}}">
                <th ng-if="::o.initiator=='receiver'">16</th>
                <th ng-if="::o.initiator=='transferer'">16/1</th>
                <td class="nowrap">{{::o.deponentFrom}} / {{::o.transferer.account}} / {{::o.transferer.division}}</td>
                <td class="nowrap">{{::o.deponentTo}}   / {{::o.receiver.account}}   / {{::o.receiver.division}}</td>
                <td>{{::o.security}}</td>
                <td>{{::o.quantity}}</td>
                <td>{{::o.reference}}</td>
                <td>{{::o.instructionDate|date}}</td>
                <td>{{::o.tradeDate|date}}</td>
                <td class="center">
                  <div class="{{::ctl.getStatusClass(o.status)}}">{{::o.status}}</div>
                </td>
                <td>{{::o.initiator}}</td>
                <td ng-if="::o.initiator=='receiver'">{{::o.reasonFrom.description}} {{::o.reasonFrom.document}}/{{::o.reasonFrom.created}}</td>
                <td ng-if="::o.initiator=='transferer'">{{::o.reasonTo.description}} {{::o.reasonTo.document}}/{{::o.reasonTo.created}}</td>
            </tr>

        </tbody>


        <tbody ng-hide="ctl.list.length">
            <tr>
                <td colspan="99" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
      </table>
  </div>

</div>
<!-- <div ng-hide="ctl.list.length">
  <i>No channels</i>
</div>
 -->


<!--
  Create transfer/receive instruction
  -->
<div id="transferInstruction" class="modal modal-fixed-footer">
  <form name="formInstruction" class="form-horizontal" novalidate>
    <div class="modal-content">
      <h4>{{inst.initiator=='transferer'?'Transfer':'Receive'}} Instruction</h4>

        <!-- transferer/From -->
        <div class="row">
          <div class="input-field col s5">
            <i class="material-icons prefix">call_made</i>
            <i class="material-icons postfix" ng-show="inst.initiator=='transferer'">lock</i>
            <input name="i_t_dep" type="text" class="locked" ng-model="inst.deponentFrom" required ng-disabled="inst.initiator=='transferer'">
            <label for="i_t_dep">Deponent code</label>
          </div>

          <div class="input-field col s4" ng-show="inst.initiator=='transferer'">
            <select ng-model="inst.transferer.account" name="i_t_acc" material-select watch class=""
                    ng-options="n as n for (n, o) in ctl.accountFrom.acc" placeholder="Account" required></select>
            <label for="i_t_acc">Account</label>
          </div>
          <div class="input-field col s4" ng-hide="inst.initiator=='transferer'">
            <input name="i_t_acc" type="text" class="" ng-model="inst.transferer.account" required>
            <label for="i_t_acc">Account</label>
          </div>


          <div class="input-field col s3" ng-show="inst.initiator=='transferer'">
            <select ng-model="inst.transferer.division" name="i_t_acc" material-select watch class=""
                    ng-options="o for o in ctl.accountFrom.acc[inst.transferer.account]" placeholder="Division" required></select>
            <label for="i_t_div">Division</label>
          </div>
          <div class="input-field col s3" ng-hide="inst.initiator=='transferer'">
            <input name="i_t_div" type="text" class="" ng-model="inst.transferer.division" required>
            <label for="i_t_div">Division</label>
          </div>
        </div>

        <div class="row">
          <!-- receiver/To -->
           <div class="input-field col s5">
            <i class="material-icons prefix">call_received</i>
            <i class="material-icons postfix" ng-show="inst.initiator=='receiver'">lock</i>
            <input name="i_r_dep" type="text" class=" locked" ng-model="inst.deponentTo" required ng-disabled="inst.initiator=='receiver'">
            <label for="i_r_dep">Deponent code</label>
          </div>

          <div class="input-field col s4" ng-show="inst.initiator=='receiver'">
            <select name="i_r_acc" material-select watch class="" ng-model="inst.receiver.account"
                    ng-options="n as n for (n, o) in ctl.accountTo.acc" placeholder="Account" required></select>
            <label for="i_r_acc">Account</label>
          </div>
          <div class="input-field col s4" ng-hide="inst.initiator=='receiver'">
            <input name="i_r_acc" type="text" class="" ng-model="inst.receiver.account" required>
            <label for="i_r_acc">Account</label>
          </div>


          <div class="input-field col s3" ng-show="inst.initiator=='receiver'">
            <select name="i_r_div" material-select watch class="" ng-model="inst.receiver.division"
                    ng-options="o for o in ctl.accountTo.acc[inst.receiver.account]" placeholder="Division" required></select>
            <label for="i_r_div">Division</label>
          </div>
          <div class="input-field col s3" ng-hide="inst.initiator=='receiver'">
            <input name="i_r_div" type="text" class="" ng-model="inst.receiver.division" required>
            <label for="i_r_div">Division</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="i_security" type="text" class="uppercase" ng-model="inst.security" required ng-length="12">
            <label for="i_security">ISIN</label>
            <span class="input-error-message" ng-show="formInstruction.i_security.$error.length">Should be exactly 12 characters</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="i_quantity" type="number" min="0" class="" ng-model="inst.quantity" required>
            <label for="i_quantity">Quantity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="i_reference" type="text" class="" ng-model="inst.reference" required ng-maxlength="16">
            <label for="i_reference">Reference</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">schedule</i>
            <input name="i_trade_date" type="text" class="datepicker" ng-model="inst.tradeDate" input-date>
            <label for="i_trade_date">Trade Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">schedule</i>
            <input name="i_instruction_date" type="text" class="datepicker" ng-model="inst.instructionDate" input-date>
            <label for="i_instruction_date">Instruction Date</label>
          </div>
        </div>

        <div class="row">
            <h5 class="col s12">Reason</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="i_a_description" class="materialize-textarea" ng-model="inst.reason.description"></textarea>
            <label for="i_a_description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <input name="i_a_document" type="text" class="" ng-model="inst.reason.document">
            <label for="i_a_document">Document number</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">schedule</i>
            <input name="i_a_created" type="text" class="datepicker" ng-model="inst.reason.created" input-date>
            <label for="i_a_created">Document date</label>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="modal-action waves-effect btn-flat yellow" ng-click="inst = ctl.getStub(inst.initiator)" value="prefill a->b "/>

      <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
             ng-click="ctl.sendInstruction(inst)"
             ng-disabled="formInstruction.$invalid"
             value="Ok"/>
      <input type="button" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="inst = null" value="Cancel"/>
    </div>
  </form>
</div>


<!--
  Redemption
-->
<div id="redemption" class="modal modal-fixed-footer">
  <form name="formRedemption" class="form-horizontal" novalidate>
    <div class="modal-content">
      <h4>Create Redemption Instruction</h4>


      <div class="row">
        <div class="input-field col s12">
          <input name="r_security" type="text" class="" ng-model="redemption.security" required>
          <label for="r_security">ISIN</label>
        </div>
      </div>

      <div class="row" hidden>
        <div class="input-field col s12">
          <input name="r_reference" type="text" class="" ng-model="inst.instructionNum">
          <label for="r_reference">Instruction ID</label>
        </div>
      </div>
<!--
      <div class="row">
        <div class="input-field col s12">
          <input name="r_reference" type="text" class="" ng-model="redemption.reference" required>
          <label for="r_reference">Reference</label>
        </div>
      </div>
-->
      <div class="row">
          <h5 class="col s12">Reason</h5>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="r_a_description" class="materialize-textarea" ng-model="redemption.reason.description"></textarea>
          <label for="r_a_description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input name="r_a_document" type="text" class="" ng-model="redemption.reason.document">
          <label for="r_a_document">Document number</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">schedule</i>
          <input name="r_a_created" type="text" class="datepicker" ng-model="redemption.reason.created" input-date>
          <label for="r_a_created">Document date</label>
        </div>
      </div>

     </div>
    <div class="modal-footer">
      <input type="submit"
            class="modal-action modal-close waves-effect waves-green btn-flat red white-text"
            ng-disabled="formRedemption.$invalid"
            ng-click="ctl.sendRedemption(redemption)" value="Ok"/>.
      <input type="button" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="inst = null" value="Cancel"/>
    </div>
  </form>
</div>


<!-- -->
<script type="text/ng-template" id="balance-history.html">
  <div class="modal modal-large modal-fixed-footer">
    <form name="form" class="form-horizontal" novalidate>
      <div class="modal-content">

          <h4>Instruction History</h4>
          <table class="table-bordered highlight responsive-table">
          <thead>
              <tr>
                  <th>Created</th>
                  <th>Transferer</th>
                  <th>Receiver</th>
                  <th>Security</th>
                  <th>Quantity</th>
                  <th>Reference</th>
                  <th>Instruction Date</th>
                  <th>Trade Date</th>
                  <th>Status</th>
                  <th>Reason</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="o in $options.history|orderBy:['-_created']" >
                  <td class="grey-text nowrap">{{::o._created|date:'M/d/yy H:mm:ss'}}</td>
                  <td class="nowrap">{{::o.deponentFrom}} / {{::o.transferer.account}} / {{::o.transferer.division}}</td>
                  <td class="nowrap">{{::o.deponentTo}}   / {{::o.receiver.account}}   / {{::o.receiver.division}}</td>
                  <td>{{::o.security}}</td>
                  <td>{{::o.quantity}}</td>
                  <td>{{::o.reference}}</td>
                  <td>{{::o.instructionDate|date}}</td>
                  <td>{{::o.tradeDate|date}}</td>
                  <td class="center">
                    <div class="{{::$options.getStatusClass(o.status)}}">{{::o.status}}</div>
                  </td>
                  <td>
                    {{::o.reasonTo.description}} {{::o.reasonTo.document}}/{{::o.reasonTo.created}}
                    <br/>
                    {{::o.reasonFrom.description}} {{::o.reasonFrom.document}}/{{::o.reasonFrom.created}}
                  </td>
              </tr>

          </tbody>

          <tbody ng-hide="$options.history.length">
              <tr>
                  <td colspan="99" align="center">
                      <i>No items</i>
                  </td>
              </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" ng-click="$close()">Close</a>
      </div>
    </form>
  </div>

</script>