

<div class="progress" ng-show="ctl.invokeInProgress">
    <div class="indeterminate"></div>
</div>


<div ng-repeat="(channel, instructions) in ctl.list">


  <h4>{{::channel}}</h4>

  <div class="row">
    <div class="col s12">
      <div>
        <!-- Modal Trigger -->
        <button class="btn btn-primary" type="button" ng-click="ctl.newInstructionTransfer('transferer', channel)" href="#transferInstruction" modal>
          Transfer Instruction
        </button>

        <button class="btn btn-primary" type="button" ng-click="ctl.newInstructionTransfer('receiver', channel)" href="#transferInstruction" modal>
          Receive Instruction
        </button>
      </div>
    </div>
  </div>



  <div id="tab-balances" class="col s12">
      <table class="table-bordered highlight responsive-table">
        <thead>
            <tr>
                <th>Transferer</th>
                <th>Receiver</th>
                <th>Security</th>
                <th>Quantity</th>
                <th>Reference</th>
                <th>Instruction Date</th>
                <th>Trade Date</th>
                <th>Status</th>
                <th>Initialor</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="o in instructions">
                <td>{{::o.deponentFrom}} / {{::o.transferer.account}} / {{::o.transferer.division}}</td>
                <td>{{::o.deponentTo}}   / {{::o.receiver.account}}   / {{::o.receiver.division}}</td>
                <td>{{::o.security}}</td>
                <td>{{::o.quantity}}</td>
                <td>{{::o.reference}}</td>
                <td>{{::o.instructionDate|date}}</td>
                <td>{{::o.tradeDate|date}}</td>
                <td>{{::o.status}}</td>
                <td>{{::o.initiator}}</td>
                <td hidden>
                    <input type="button" class="btn btn-default" ng-click="ctl.verify(o)"  value="Verify"  ng-hide="o.status"/>
                    <input type="button" class="btn btn-danger"  ng-click="ctl.decline(o)" value="Decline" ng-show="o.status"/>
                </td>
            </tr>

            <tr ng-hide="instructions.length">
                <td colspan="99" align="center">
                    <i>No items</i>
                </td>
            </tr>
        </tbody>
      </table>
  </div>


</div>
<!-- <div ng-hide="ctl.list.length">
  <i>No channels</i>
</div>
 -->


<!-- Modal Structure -->
<div id="transferInstruction" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{inst.side=='transferer'?'Transfer':'Receive'}} Instruction</h4>
    <form name="form" class="form-horizontal">

        <!-- transferer/From -->
        <div class="row">
          <div class="input-field col s5">
            <i class="material-icons prefix">call_made</i>
            <i class="material-icons postfix" ng-show="inst.side=='transferer'">lock</i>
            <input name="t_dep" type="text" class="validate locked" ng-model="inst.transferer.dep" required ng-disabled="inst.side=='transferer'">
            <label for="t_dep">Deponent code</label>
          </div>

          <div class="input-field col s4" ng-show="inst.side=='transferer'">
            <select ng-model="inst.transferer.acc" name="t_acc" material-select watch class="validate"
                    ng-options="n as n for (n, o) in ctl.accountFrom.acc" placeholder="Account" required></select>
            <label for="t_acc">Account</label>
          </div>
          <div class="input-field col s4" ng-hide="inst.side=='transferer'">
            <input name="t_acc" type="text" class="validate" ng-model="inst.transferer.acc" required>
            <label for="t_acc">Account</label>
          </div>


          <div class="input-field col s3" ng-show="inst.side=='transferer'">
            <select ng-model="inst.transferer.div" name="t_acc" material-select watch class="validate"
                    ng-options="o for o in ctl.accountFrom.acc[inst.transferer.acc]" placeholder="Division" required></select>
            <label for="t_div">Division</label>
          </div>
          <div class="input-field col s3" ng-hide="inst.side=='transferer'">
            <input name="t_div" type="text" class="validate" ng-model="inst.transferer.div" required>
            <label for="t_div">Division</label>
          </div>
        </div>

        <div class="row">
          <!-- receiver/To -->
           <div class="input-field col s5">
            <i class="material-icons prefix">call_received</i>
            <i class="material-icons postfix" ng-show="inst.side=='receiver'">lock</i>
            <input name="t_dep" type="text" class="validate locked" ng-model="inst.receiver.dep" required ng-disabled="inst.side=='receiver'">
            <label for="t_dep">Deponent code</label>
          </div>

          <div class="input-field col s4" ng-show="inst.side=='receiver'">
            <select name="t_acc" material-select watch class="validate" ng-model="inst.receiver.acc"
                    ng-options="n as n for (n, o) in ctl.accountTo.acc" placeholder="Account" required></select>
            <label for="t_acc">Account</label>
          </div>
          <div class="input-field col s4" ng-hide="inst.side=='receiver'">
            <input name="t_acc" type="text" class="validate" ng-model="inst.receiver.acc" required>
            <label for="t_acc">Account</label>
          </div>


          <div class="input-field col s3" ng-show="inst.side=='receiver'">
            <select name="t_acc" material-select watch class="validate" ng-model="inst.receiver.div"
                    ng-options="o for o in ctl.accountTo.acc[inst.receiver.acc]" placeholder="Division" required></select>
            <label for="t_div">Division</label>
          </div>
          <div class="input-field col s3" ng-hide="inst.side=='receiver'">
            <input name="t_div" type="text" class="validate" ng-model="inst.receiver.div" required>
            <label for="t_div">Division</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="security" type="text" class="validate" ng-model="inst.security" required>
            <label for="security">ISIN</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="quantity" type="number" min="0" class="validate" ng-model="inst.quantity" required>
            <label for="quantity">Quantity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input name="reference" type="text" class="validate" ng-model="inst.reference" required>
            <label for="reference">Reference</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">schedule</i>
            <input name="trade_date" type="text" class="validate datepicker" ng-model="inst.trade_date" input-date>
            <label for="trade_date">Trade Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">schedule</i>
            <input name="instruction_date" type="text" class="validate datepicker" ng-model="inst.instruction_date" input-date>
            <label for="instruction_date">Instruction Date</label>
          </div>
        </div>

        <div class="row">
            <h5 class="col s12">Reason</h5>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <textarea id="a_description" name="a_description" class="materialize-textarea" ng-model="inst.reason.description"></textarea>
            <label for="a_description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <input id="a_document" name="a_document" type="text" class="validate" ng-model="inst.reason.document">
            <label for="a_document">Document number</label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">schedule</i>
            <input id="a_created" name="a_created" type="text" class="validate datepicker" ng-model="inst.reason.created" input-date>
            <label for="a_created">Document date</label>
          </div>
        </div>

    </form>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="ctl.sendTransfer()">Ok</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="ctl.cancelTransfer()">Cancel</a>
  </div>
</div>
