
<h1><span translate>LOGIN_TO_LABEL</span> {{::_config.org}}</h1>
<p translate>LOGIN_WELCOME_TEXT</p>

<form name="login_form" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="username" translate>USERNAME_LABEL</label>
    <input type="text" id="username" name="username" translate-attr="{placeholder:'USERNAME_INPUT_PLACEHOLDER'}" ng-model="user.username" required/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="button" ng-click="ctl.signUp(user)" ng-disabled="login_form.$invalid" translate>SIGN_UP_LABEL</button>
  </div>

</form>