
<div class="progress" ng-show="ctl.invokeInProgress">
    <div class="indeterminate"></div>
</div>

<h2 translate>book.PAPER_TITLE</h2>

<div class="row" role-show="nsd">
    <div class="col s12">
        <div>
            <button class="btn btn-primary" type="button" ng-click="ctl.newBook('paper')" modal href="#newBookEntry">
                <span translate>book.NEW_BOOK_LABEL</span>
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12">
        <table class="table-bordered highlight responsive-table">
            <thead>
            <tr>
                <th role-show="nsd" translate>ORGANISATION_LABEL</th>
                <th translate>ACCOUNT_LABEL</th>
                <th translate>SECURITY_LABEL</th>
                <th translate>QUANTITY_LABEL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="o in ctl.books|filter:{type:'paper'} as paperBooks" ng-click="ctl.showHistory(o, 'paper')">
                <td role-show="nsd">{{::o.org}}</td>
                <td>{{::o.deponent}} / {{::o.balance.account}} / {{::o.balance.division}}</td>
                <td>{{::o.security}}</td>
                <td>{{::o.quantity}}</td>
                <!-- <td>
                    <input type="button" class="btn btn-default" ng-click="ctl.verify(o)" value="Verify" ng-hide="o.status"/>
                    <input type="button" class="btn btn-danger" ng-click="ctl.decline(o)" value="Decline" ng-show="o.status"/>
                </td> -->
            </tr>

            <tr ng-hide="paperBooks.length">
                <td colspan="99" align="center">
                    <i translate>NO_ITEMS_LABEL</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- money -->
<h2 translate>book.MONEY_BALANCE</h2>
<div class="row" role-show="nsd">
    <div class="col s12">
        <div>
            <button class="btn btn-primary" type="button" ng-click="ctl.newBook('money')" modal href="#newMoneyEntry">
                <span translate>book.NEW_MONEY_LABEL</span>
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12">
        <table class="table-bordered highlight responsive-table">
            <thead>
            <tr>
                <th role-show="nsd" translate>ORGANISATION_LABEL</th>
                <th translate>ACCOUNT_LABEL</th>
                <th translate>MONEY_LABEL</th>
                <th translate>QUANTITY_LABEL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="o in ctl.books|filter:{type:'money'} as moneyBooks" ng-click="ctl.showHistory(o, 'money')">
                <td role-show="nsd">{{::o.org}}</td>
                <td>{{::o.balance.account}} </td>
                <td>{{::o.security}}</td>
                <td>{{::o.quantity}}</td>
                <!-- <td>
                    <input type="button" class="btn btn-default" ng-click="ctl.verify(o)" value="Verify" ng-hide="o.status"/>
                    <input type="button" class="btn btn-danger" ng-click="ctl.decline(o)" value="Decline" ng-show="o.status"/>
                </td> -->
            </tr>

            <tr ng-hide="moneyBooks.length">
                <td colspan="99" align="center">
                    <i translate>NO_ITEMS_LABEL</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>