

<!-- transferer/From -->
<div class="input-field col s2">
    <h5 translate>{{label}}</h5>
</div>


<!-- account -->
<div class="input-field col s6" ng-if="deponent">
    <select ng-model="requsite.account"
            name="pay_account_select_{{::componentId}}" id="pay_account_select_{{::componentId}}"
            material-select watch class=""
            ng-options="n as n for (n, o) in allAccounts[deponent].bic" placeholder="Account" required></select>
    <label for="pay_account_select_{{::componentId}}" translate>PAYMENT_ACCOUNT_LABEL</label>
</div>
<div class="input-field col s6" ng-if="!deponent">
    <input name="pay_account_input_{{::componentId}}" id="pay_account_input_{{::componentId}}"
           type="text" class="uppercase" ng-model="requsite.account" required ng-length="20" ng-pattern="/^[\d]*$/">
    <label for="pay_account_input_{{::componentId}}" translate>PAYMENT_ACCOUNT_LABEL</label>
    <span class="input-error-message" ng-show="form['pay_account_input_'+componentId].$error.pattern" translate>ONLY_DIGIT_LABEL</span>
    <span class="input-error-message" ng-show="!form['pay_account_input_'+componentId].$error.pattern && form['pay_account_input_'+componentId].$error.length" translate>20_CHARACTERS_LABEL</span>
</div>

<!-- division -->
<div class="input-field col s4">
    <input name="pay_bic_input_{{::componentId}}" id="pay_bic_input_{{::componentId}}"
           type="text" class="uppercase" ng-model="requsite.bic" required ng-length="9" ng-pattern="/^[\d]*$/">
    <label for="pay_bic_input_{{::componentId}}" translate>PAYMENT_BIC_LABEL</label>
    <span class="input-error-message" ng-show="form['pay_bic_input_'+componentId].$error.pattern" translate>ONLY_DIGIT_LABEL</span>
    <span class="input-error-message" ng-show="!form['pay_bic_input_'+componentId].$error.pattern && form['pay_bic_input_'+componentId].$error.length" translate>9_CHARACTERS_LABEL</span>
</div>